@page
@model Garage_Voiture.Areas.Modeles.Pages.CreateModel

@{
    ViewData["Title"] = "Create";

}

<h1>Nouveau Modèle</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Modele.Nom" class="control-label"></label>
                <input asp-for="Modele.Nom" class="form-control" />
                <span asp-validation-for="Modele.Nom" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Modele.Description" class="control-label"></label>
                <input asp-for="Modele.Description" class="form-control" />
                <span asp-validation-for="Modele.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-success" />

         
                    <a class="btn btn-primary" asp-page="Index">Revenir à la liste</a>
 
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
