@page
@model Garage_Voiture.Areas.Voiture.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier les informations</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Voiture.Id" />
            <partial name="~/Pages/Shared/Temp/Voitures.cshtml" model="@Model.Voiture" />
            <div class="form-group mt-3">
                <input type="submit" value="Modifier" class="btn btn-success" />
                <a class="btn btn-primary" asp-page="./Index">Annuler la modification</a>
            </div>
        </form>
    </div>
</div>


